@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.eot');
  src: url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/Roboto-Regular.ttf') format('truetype'),
       url('../font/Roboto-Regular.woff') format('woff'),
       url('../font/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Italic.eot');
  src: url('../font/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
       url('../font/Roboto-Italic.ttf') format('truetype'),
       url('../font/Roboto-Italic.woff') format('woff'),
       url('../font/Roboto-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Bold.eot');
  src: url('../font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/Roboto-Bold.ttf') format('truetype'),
       url('../font/Roboto-Bold.woff') format('woff'),
       url('../font/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-BoldItalic.eot');
  src: url('../font/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../font/Roboto-BoldItalic.ttf') format('truetype'),
       url('../font/Roboto-BoldItalic.woff') format('woff'),
       url('../font/Roboto-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Black.eot');
  src: url('../font/Roboto-Black.eot?#iefix') format('embedded-opentype'),
       url('../font/Roboto-Black.ttf') format('truetype'),
       url('../font/Roboto-Black.woff') format('woff'),
       url('../font/Roboto-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-BlackItalic.eot');
  src: url('../font/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('../font/Roboto-BlackItalic.ttf') format('truetype'),
       url('../font/Roboto-BlackItalic.woff') format('woff'),
       url('../font/Roboto-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Light.eot');
  src: url('../font/Roboto-Light.eot?#iefix') format('embedded-opentype'),
       url('../font/Roboto-Light.ttf') format('truetype'),
       url('../font/Roboto-Light.woff') format('woff'),
       url('../font/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-LightItalic.eot');
  src: url('../font/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../font/Roboto-LightItalic.ttf') format('truetype'),
       url('../font/Roboto-LightItalic.woff') format('woff'),
       url('../font/Roboto-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 62.5%;
}

body {
  position: relative;
}

/* Text sizes and distances*/

.test, .popup {
  font-size: 1.8rem;
  line-height: 120%;
}

h1.heading {
  font-size: 2.9rem;
  font-weight: 700;
}

h1:first-child, p:first-child {
  margin-top: 0;
}

.resulting.message, .resulting.message .test.paragraph {
  font-size: 1.6rem;
}

p + p {
  margin-top: 1.5rem;
}

button {
  font-size: 1.6rem;
  font-variant: small-caps;
}

.test.paragraph.accent {
  font-size: 1.1em;
  
  .accent.profession {
    display: block;
    font-size: 1em;
    font-weight: 700;
  }
}

.popup.paragraph.accent {
  font-size: 1.1em;
}

.test.paragraph + .test.list, .test.list + .test.paragraph {
  margin-top: 1.2rem;
}

.test.list {
  padding-left: 3rem;
}

.test.list li + li {
  margin-top: 0.9rem;
}

/* Common styles */

.hidden {
  display: none!important;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  font-size: 0;
}

.wrap {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 60px 10px;
  font-size: 1.8rem;
  background-position: -25px -50px;
  background-size: calc(100% + 50px);
  background-repeat: no-repeat;
  transition: background-image 1s, background-size 1s, color 1s, font-weight 0.2s;
  
  .credits {
    content: '';
    position: absolute;
    bottom: 29px;
    height: 17px;
    right: calc((100% - 915px)/ 2);
    width: 240px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
  }
}

.test.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 915px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 120px 200px;
  border: 6px solid #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  transition: background-color 1s;

  &::before {
    content: "Какое направление в IT выбрать?";
    position: absolute;
    bottom: 5px;
    left: 25px;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    transform: rotate(-90deg);
    transform-origin: left top;
  }
  
  &::after {
    content: "";
    position: absolute;
    right: -116px;
    top: 25px;
    width: 141px;
    height: 30px;
    background-size: 141px 30px;
    transform: rotate(90deg);
    transform-origin: left top;
    transition: background-image 1s;
  }
}

.test.choice {
  position: relative;
  margin-top: 80px;
  
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: -40px;
  }  
}

.unscrollable {
  overflow: hidden;
  height: 100vh;
}

/* Pairs (test questions) */

.test.form.counter {
  display: block;
  text-align: center;
  margin: 2.5rem 0;
  
  &::after {
    content: "/12";
  }
}

.test.form.pair.label {
  display: block;
  
  &:hover {
    cursor: pointer;
  }
}

.test.form.pair.label + .test.form.pair.label {
  margin-top: 2.5rem;
}

.test.form.pair.input {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  
  &:checked ~ .test.form.pair.text::before {
    border-width: 7px;
    animation: elastic 0.25s 1 ease-in;
  }
}

.test.form.pair.text {
  position: relative;
  display: block;
  padding-left: 3.3rem;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: calc(50% - 1.1rem);
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
  } 
}

.test.form.pair.input:focus ~ .test.form.pair.text, .test.form.pair.input:checked ~ .test.form.pair.text {
  transition: font-weight 0.25s;
} 

@keyframes elastic {
  0% {
    border-width: 1px;
    transform: scale(1.0); 
    transform-origin: center;
  }
  85% {
    border-width: 11px;
    transform: scale(0.8);
    transform-origin: center;
  }  
  100% {
    border-width: 7px;
    transform: scale(1.0); 
    transform-origin: center;    
  }   
}

/* Buttons */

.test.buttons {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 50px;
}

.test.button.nav:not([hidden]) + .test.button.nav {
  margin-left: 50px;
}

.test.button, .popup.button {
  position: relative;
  flex-grow: 1;
  padding: 1.3rem;
  border: 1px solid;
  background-color: transparent;
  cursor: pointer;
  transition: font-weight 0.2s, border-color 1s, color 1s;  
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    z-index: 0;
    transition: 0.4s all ease;
  }

  &:hover, &:focus {
    outline: none;
    outline-offset: 0;
    
    &::before {
      width: 100%;
      transition: all 0.4s ease;
    }
  }
    
  span {
    position: relative;
    z-index: 1;
  } 
}

.test.button:disabled, .popup.button:disabled {
  opacity: 0.4;
  
  &:hover {
    color: inherit!important;
    cursor: default;
    transition: none;
    
    &::before {
      width: 0;
      transition: none;
    }    
  }
}

.test.button.more {
  position: relative;
  
  &::after {
    content: 'Оставьте ваши контакты и мы свяжемся с вами.';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    font-variant: normal;
    font-size: 0.6em;
    opacity: 0.7;
  }
}

/* Pie result */

#pie {
  width: 100%;
  margin: 3rem 0;
  height: 300px;
  font-size: 1.2rem;
}

/* Попап */

.popup {
  font-weight: 300;
}

.popup.accent {
  font-weight: 700;
}

.popup.minor {
  font-size: 0.8em;
}

.popup.wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.40);
  z-index: 100;
}

.popup.container {
  position: relative;
  width: 500px;
}

.popup.checkbox {
  vertical-align: middle;
  margin-right: 0.4rem;
}

.popup.close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  z-index: 101;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  
  &::before {
    content: '';
    position: absolute;
    top: 48%;
    left: 20%;
    width: 60%;
    height: 10%;
    transform: rotate(45deg);
    transform-origin: center;
    background-color: #000;
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 48%;
    left: 20%;
    width: 60%;
    height: 10%;
    transform: rotate(-45deg);
    transform-origin: center;
    background-color: #000;
  }
  
  &:hover {
    cursor: pointer;
  }
  
  &:focus {
    outline: none;
  }
  
}

.popup.form.container, .popup.confirm.container {
  background-color: #fff;
  padding: 80px 60px;
}

.popup.confirm.container {
  text-align: center; 
}

.popup.form.group + .popup.form.group {
  margin-top: 2.8rem;
}

.popup.form.message {
  margin: 1rem 0;
  
  &:first-of-type {
    margin-top: 0;
  }
}

.popup.input {
  width: 100%;
  padding: 1rem;
  background-color: #f3f3f3;
  border: 1px solid #dadada;
}

.popup.button {
  width: 100%;
  margin-top: 2.8rem;
 
  &:hover {
    color: #fff;
  }

  &::before {
    background-color: #000;
  }
}



/* Theme switcher */

.switch[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch.label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 18px;
  display: block;
  border-radius: 20px;
  position: absolute;
  top: 30px;
  left: calc(50% - 25px);
  font-size: 0;

  &::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
  }
}

.switch:checked + .switch.label:after {
  left: calc(100% - 4px);
  transform: translateX(-100%);
}

.switch.label:active:after {
  width: 40px;
}

/* Themes */

.wrap.orange {
  font-weight: 300;
  background-color: #FEB822;
  background-image: url(../img/orange.svg);
  color: #000000;
  
  .credits {
    background-image: url(../img/made-by.svg);
  }
  
  a {
    color: #ce2f00;
  }
  
  .test.container {
    background-color: #FFFFFF;
    
    &::after {
      background-image: url(../img/logo.svg);
    }    
  }
  
  .test.choice::before {
    background-color: #000;
  }  

  .test.form.pair.input:focus ~ .test.form.pair.text, .test.form.pair.input:checked ~ .test.form.pair.text {
    font-weight: 700;
  }  
  
  .test.button {
    font-weight: 300;
    border-color: #000000;
    color: #000000;
    
    &:hover, &:focus {
      color: #FFFFFF;
    }
    
    &::before {
      background-color: #000000;
    }
  }
  
  .switch.label {
    background-color: #eadcbd;

    &:before {
      content: 'Переключить оформление на тёмное?';
    }  
  }
}

.wrap.violet {
  font-weight: 300;
  background-color: #2A364C;
  background-image: url(../img/violet.svg);
  color: #FFFFFF;
  
  .credits {
    background-image: url(../img/made-by-inverted.svg);
  }  
  
  a {
   color: #89beff;
  }
  
  .test.container {
    background-color: #333f59;
    
    &::after {
      background-image: url(../img/logo-inverted.svg);
    }     
  }
  
  .test.choice::before {
    background-color: #fff;
  }    
  
  .test.form.pair.input:focus ~ .test.form.pair.text, .test.form.pair.input:checked ~ .test.form.pair.text, .test.paragraph.result .result.profession{
    font-weight: 700;
  }  
  
  .test.form.pair.text::before {
    border-color: #FFFFFF;
  }
  
  .test.form.pair.input:checked ~ .test.form.pair.text::before {
    border-color: #FFFFFF;
  }  
  
  .test.button {
    font-weight: 300;
    border-color: #FFFFFF;
    color: #FFFFFF;
    
    &:hover, &:focus {
      color: #454257;
    }    
    
    &::before {
      background-color: #FFFFFF;
    }    
  }
  
  .switch.label {
    background-color: #545e73;
  
    &::before {
      content: 'Переключить оформление на яркое?';
    }  
  }
}

/* Media */

@media (hover: hover) {
  .switch.label::before {
    content: '';
    position: absolute;
    top: -70px;
    left: calc(50% - 150px);
    display: none;
    width: 300px;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: 300;
    text-indent: initial;
    text-align: center;
    background-color: #fff;
    color: #000;    
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
  }

  .switch.label:hover::before {
    display: block;
  }
}

@media (min-width: 641px) and (max-width: 1000px) {
  
  .wrap .credits {
    right: calc((100% - 90% + 12px)/ 2);
  }  
  
  .test.container {
    width: 90%;
    padding: 120px;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 52.5%;
  }  

  .wrap {
    padding: 10px 10px 30px 10px;
    transition: none;
    
    .credits {
      right: 10px;
      bottom: 7px;
      max-width: calc(50% - 50px);
    }  
  }  
  
  .switch.label {
    top: 11px;
  }
  
  .test.container {
    width: 100%;
    padding: 90px 25px 40px;
    min-height: auto;
  }
  
  .test.container::before {
    left: 25px;
    top: 45px;
    font-size: 1.9rem;
    transform: inherit;
  }  
  
  .test.container::after {
    content: initial;
  }  
  
  .test.form.counter {
    font-size: 1.5rem;
    margin: 1.8rem 0;
  }
  
  .test.buttons {
    margin-top: 25px;
  }  
  
  .test.button.nav + .test.button.nav {
    margin-left: 20px;
  } 
  
  .popup.container {
    width: 100%;
    
    .popup.close {
      right: 0;
    }
    
    .popup.confirm.container, .popup.form.container {
      padding: 60px 40px;
    }    
    
  }  
  
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .switch, .switch.label {
    display: none;
  }
  
  .test.form.pair.text::before {
    background-size: inherit;
  }   
}